<div class="container portfolio-form">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Creat A New Portfolio Item</h1>

      <%= render 'form', portfolio_item: @portfolio_item %>
    </div>
  </div>
</div>
