<h1>Contact Me</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>1307 Sarah St, Selma, CA 93662</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "5555555555" %></p>

    <h3>Email</h3>

    <p><a href="mailto:atienza.drew@gmail.com?subject=PortfolioContact" "email me">atienza.drew@gmailcom</a></p>

  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.46955096548!2d-119.60461864910414!3d36.590998687049144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8094fa9fec2dbb4d%3A0xe1452ac18486213c!2s1307+Sarah%2C+Selma%2C+CA+93662!5e0!3m2!1sen!2sus!4v1500826829695" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
