<div class="card contact-page">
  <h1 class="card-header text-center">Contact Me</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="contact-paragraph">
        <h4>Get in touch</h4>

        <p>If you have any questions, please feel free to drop me a line.  If you don't get an answer immediately, I might just be travelling through the middle of nowhere.  I'll get back to you as soon as I can.  That's a promise!</p>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Address</h4>

      <p>1307 Sarah St, Selma, CA 93662</p>

      <h4>Phone</h4>

      <p><%= number_to_phone "5595931357" %></p>

      <h4>Email</h4>

      <p><a href="mailto:atienza.drew@gmail.com?subject=PortfolioContact" "email me">atienza.drew@gmailcom</a></p>
    </div>
  </div>
</div>

